.NavbarLeft .MenuLeft{
    width: 85px;
    padding: 1em;
    color: var(--bs-white);
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}
.NavbarLeft .MenuLeft.open{
    padding: 2em 1em;
    width: 100%;
}

/*left block*/

/*menu*/
.NavbarLeft .MenuLeft .menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.NavbarLeft .MenuLeft.open .menu,
.NavbarLeft .MenuLeft.open footer{
    padding-left: 2em;
}
.NavbarLeft .MenuLeft .menu p{
    display: flex;
    align-items: center;
    margin: .35em auto;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}
.NavbarLeft .MenuLeft.open .menu p{
    margin: .35em 0;
}
.NavbarLeft .MenuLeft .menu p img{
    width: 25px;
    margin-right: .5em;
}
/*hover*/
.NavbarLeft .MenuLeft .menu p:hover,
.MenuLeftItem.more ul li:hover{
    opacity: .5;
}

/*item more*/
.MenuLeftItem.more{
    position: relative;
}
.MenuLeftItem.more img.arrow{
    width: 8px !important;
    position: absolute;
    left: -13px;
    transform: rotate(90deg);
    transition: .2s;
}
.MenuLeftItem.more img.arrow.open{
    transform: rotate(270deg);
}

/*ul for inner link items*/
.MenuLeftItem.more ul{
    margin: 0;
    padding: 0 0 0 calc(25px + .5em);
    font-size: 14px;
    font-weight: 300;
    list-style: none;
}
.MenuLeftItem.more ul li{
    transition: .2s;
    cursor: pointer;
}

/*ul styles for theme and notification list*/
.MenuLeftItem.more ul.theme-notif-ul li{
    padding: .25em 0;
    display: flex;
    align-items: center;
}
.MenuLeftItem.more ul.theme-notif-ul li:hover,
.MenuLeftItem.more ul.theme-notif-ul li p:hover{
    opacity: 1;
    cursor: auto;
}
.MenuLeftItem.more ul.theme-notif-ul li p{
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 0 .75em !important;
}
