.NavbarLeft .MenuLeft{
    width: 85px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}
.NavbarLeft .MenuLeft.open{
    padding: 2em 1em;
    width: 100%;
}

/*left block*/

/*menu*/
.NavbarLeft .MenuLeft .menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.NavbarLeft .MenuLeft.open .menu,
.NavbarLeft .MenuLeft.open footer{
    padding-left: 2em;
}
.NavbarLeft .MenuLeft .menu a{
    display: flex;
    align-items: center;
    margin: .35em auto;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}
.NavbarLeft .MenuLeft.open .menu a{
    margin: .35em 0;
}
.NavbarLeft .MenuLeft .menu a p{
    margin: 0 0 0 .5em;
    color: var(--bs-white);
}
/*hover*/
.NavbarLeft .MenuLeft .menu a:hover{
    opacity: .5;
}
