/*header*/
.NavbarLeft .MenuLeft header{
    display: flex;
    flex-direction: column;
}
.NavbarLeft .MenuLeft header div.logo{
    margin: 0 auto 1.5em;
}
/*user data*/
.NavbarLeft .MenuLeft header .user.open{
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavbarLeft .MenuLeft header .user.open .content{
    width: 100%;
    margin-left: 1em;
    color: var(--bs-white);
}
.NavbarLeft .MenuLeft header .user img{
    border-radius: 50%;
}
.NavbarLeft .MenuLeft header .user.open img{
    width: 115px;
}
.NavbarLeft .MenuLeft header .user.open .content p.small{
    opacity: .5;
}
