.BetsGroup{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(45% - .5em);
    max-width: 600px;
    height: calc(35vh - (2em / 3) - .25em);
    min-height: 200px;
    margin: auto;
}
