.FooterBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(5vh - (2em / 3) - .5em);
}

.FooterBottom a{
    font-size: 14px;
    margin: 0 .75em;
    color: #949ECD;
    text-decoration: none;
    transition: .3s;
}
.FooterBottom a:hover{
    color: var(--bs-white);
}
