.WithdrawFunds p.small{
    font-weight: 300;
    color: var(--blue-gray);
}

.WithdrawFunds .inp-container{
    margin-bottom: 1em;
}

/*form components*/
.WithdrawFunds label{
    font-weight: 200;
    margin-bottom: .25em;
}
