.UserProfile header{
    padding-top: 1em;
    flex-direction: row !important;
    align-items: center;
}
.UserProfile header img{
    width: 100px;
}
.UserProfile header span{
    margin-left: 1em;
}
.UserProfile header span h5{
    font-weight: 700;
    margin-bottom: 0;
}
.UserProfile header span p{
    font-weight: 200;
    color: var(--blue-gray);
}

/*FORM*/
.UserProfile form{
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.UserProfile form .form-group{
    padding: .35em 0;
    width: calc(50% - .25em);
}
.UserProfile form .form-group label{
    margin: 0 0 .15em 0;
    font-weight: 300;
    opacity: .75;
}

/*inputs*/
.UserProfile input[type="file"]{
    padding: 0.25rem 0.5rem !important;
}
.UserProfile input,
.UserProfile select{
    font-weight: 500 !important;
}

/*checks*/
.UserProfile form .check-container{
    padding: .75em 0;
}
/*.UserProfile .form-check-input{*/
/*    width: 30px !important;*/
/*    height: 18px;*/
/*}*/
