.TransactionHistoryItem{
    width: 100%;
    font-size: 12px !important;
    color: var(--bs-white);
    text-align: center;
    margin: .5em 0;
    vertical-align: middle !important;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

/*td*/
.TransactionHistoryItem td{
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25em 1em;
    border-radius: 3em;
    background: #3944AE;
}
.TransactionHistoryItem td.st{
    background: var(--blue-gray);
    color: var(--main-bg);
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
.TransactionHistoryItem td.st:hover{
    background: #3944AE;
    color: var(--bs-white);
}

/*tradeId*/
.TransactionHistoryItem td.tradeId{
    min-width: 120px;
}
/*amount*/
.TransactionHistoryItem td.amount{
    min-width: 70px;
}
