.MainContent{
    width: calc(100% - 125px);
    min-height: 700px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    z-index: 2;
}
.MainContent.open{
    width: calc(100% - 450px);
}

.MainContent .players-bets{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
