.ResetPassword p,
.ResetPassword label{
    color: var(--blue-gray);
}
.ResetPassword .inp-container{
    position: relative;
    margin-bottom: .75em;
}

/*inputs*/
.ResetPassword input{
    border: 1px solid var(--blue-gray);
}
/*inputs img show password*/
.ResetPassword .inp-container img{
    width: 20px;
    position: absolute;
    right: 10px;
    top: 2em;
    transition: .3s;
}
.ResetPassword .inp-container img:hover{
    opacity: .5;
    cursor: pointer;
}
