/*font*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}


:root{
    --white-op-50: rgba(255, 255, 255, 0.50);

    --main-bg: #0B0D41;
    --navbar-gradient: linear-gradient(190.48deg, #1B277F -6.03%, #14195E 75.47%);

    --but-disabled:linear-gradient(270deg, #4482A6 0%, #1D296B 100%);
}

body{
    min-height: 100vh;
    background-color: var(--main-bg);
    background-image: url("public/bgs/bg-main.svg");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

/*полосы прокрутки*/
*::-webkit-scrollbar {
    height: 5px;/* высота всей полосы прокрутки */
    width: 5px; /* ширина всей полосы прокрутки */
}
*::-webkit-scrollbar-thumb {
    background-color: #949ECD;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
}
